@import "./global.scss";
.App {
    .Controller {
        > p:last-child {
            text-align: center;
            margin-top: -40px;
            margin-bottom: 32px;
            color: $colorDark4;

            @include mobile {
                color: transparentize($colorLight2, 0.4);
            }
        }
    }
}
