@import "./global.scss";
.LimitedInput {
    position: relative;
    > span {
        position: absolute;
        top: 0;
        right: 0;

        height: 100%;
        line-height: 38px;
        width: auto;

        padding: 0 10px;
        color: $colorBlue1;
    }
}
