@import "./global.scss";
.LimitedInput {

    position: relative;

    > input {

    }

    > span {
        position: absolute;
        top: 0;
        right: 0;

        height: 100%;
        line-height: 38px;
        width: auto;

        padding-right: 10px;
        color: $colorBlue1;
    }
}
