@import "global.scss";
@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url('/resources/fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url('/resources/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: "Source Sans Pro";
    font-weight: 300;
    src: url('/resources/fonts/SourceSansPro-Light.ttf');
}
@font-face {
    font-family: "Source Sans Pro";
    font-weight: 400;
    src: url('/resources/fonts/SourceSansPro-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

::selection {
    background: $colorBlue1;
    color: $colorLight1;
}

// FIXME: !important is an anti-pattern
body {
    background-color: $colorLight1 !important;
    transition: background $durMedium $easing;
    @include mobile {
        background-color: $colorBlue1 !important;
    };
}

.redText {
    color: $colorRed1;
}
.blueText {
    color: $colorBlue1;
}
.greenText {
    color: $colorGreen1;
}
