@import "./global.scss";

.MessagesView {

    $messageMargin: 10px;
    $messageOffset: 20px;
    $messageBorderRadius: 4px;

    width: 100%;

    border-radius: 3px;
    padding: $messageMargin 0;

    &:empty {
        padding: 0;
    }

    > .MessageItem {

        background-color: $colorLight3;
        margin: $messageMargin 0;
        position: relative;
        width: 100%;
        padding: 3px 6px;
        box-shadow: $shadow1;
        border-radius: 3px;

        > .title {
            width: 100%;
            display: block;
            border-bottom: 2px solid $colorDark1;
            margin-bottom: 8px;
            padding-bottom: 3px;
        }

        > .time {
            width: 100%;
            display: block;
            text-align: right;
            margin-top: 8px;
        }

        > .messages {
            > .embedded {

                $previewWidth: 80px;

                overflow: hidden;
                background-color: $colorLight4;
                border-radius: 3px;
                box-shadow: $shadow1;

                margin: 7px 0;

                > div {
                    float: left;
                    height: 80px;

                    &:nth-child(1) {
                        width: $previewWidth;
                        overflow: hidden;
                        position: relative;

                        img {
                            margin-bottom: 0;
                            width: 100%;
                            height: 100%;
                            transform: translateX(0);
                        }
                    }

                    &:nth-child(2) {
                        width: calc(100% - #{$previewWidth});
                        padding: 2px 6px;

                        > p {
                            font-size: 14px;
                        }

                        > a > button {
                            width: calc(50% - 10px);
                            height: 30px;
                            font-size: 14px;
                            float: left;

                            &:first-of-type {
                                margin-right: 5px;
                            }

                            &:last-of-type {
                                margin-left: 5px;
                            }
                        }
                    }
                }

                &.image {

                }

                &.document {

                }
            }
        }

        &.currentUser {
            background-color: $colorBlue1;
            color: $colorCard;
            padding-top: 6px;

            > .messages {
                > .embedded {
                    background-color: $colorBlue4;
                }
            }

            > .title {
                display: none;
            }

            &+ .currentUser {
                margin-top: -$messageMargin;
            }
        }

        &:not(.currentUser) {
            border-top-right-radius: $messageBorderRadius;
            border-bottom-right-radius: $messageBorderRadius;
        }

        &:first-child { margin-top: 0; }
        &:last-child { margin-bottom: 0; }
    }
}
