@import "./global.scss";

.MessagesView {

    $messageMargin: 10px;
    $messageOffset: 20px;
    $messageBorderRadius: 4px;

    background-color: $colorLight1;
    border-radius: 3px;
    padding: $messageMargin 0;
    overflow: hidden;

    &:empty {
        padding: 0;
    }

    > .MessageItem {

        background-color: $colorLight3;
        margin: $messageMargin 0;
        position: relative;
        width: calc(100% - #{$messageOffset});
        padding: 3px 6px;
        box-shadow: $shadow1;

        > .title {
            width: 100%;
            display: block;
            border-bottom: 2px solid $colorDark1;
            margin-bottom: 8px;
            padding-bottom: 3px;
        }

        > .messages {
            > p:not(:only-child) {
                padding: 4px 0;
                border-bottom: 1px solid $colorDark1;
            }
        }

        > .time {
            width: 100%;
            display: block;
            text-align: right;
            margin-top: 8px;
        }

        &.currentUser {
            left: $messageOffset;
            background-color: $colorBlue1;
            color: $colorCard;
            border-top-left-radius: $messageBorderRadius;
            border-bottom-left-radius: $messageBorderRadius;

            > .title {
                border-bottom: 2px solid $colorCard;
            }

            > .messages > p:not(:only-child) {
                border-bottom: 1px solid $colorCard;
            }

            &+ .currentUser {
                margin-top: -$messageMargin;
            }
        }

        &:not(.currentUser) {
            border-top-right-radius: $messageBorderRadius;
            border-bottom-right-radius: $messageBorderRadius;
        }

        &:first-child { margin-top: 0; }
        &:last-child { margin-bottom: 0; }
    }
}
