@import "./global.scss";

.List .ListItem {

    padding-right: 100px !important; // Sorry

    button {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        width: auto;
        height: 100%;
    }
}
