<!DOCTYPE html>
<!--
██   ██ ███████ ██      ██       ██████  ██ 
██   ██ ██      ██      ██      ██    ██ ██ 
███████ █████   ██      ██      ██    ██ ██ 
██   ██ ██      ██      ██      ██    ██    
██   ██ ███████ ███████ ███████  ██████  ██ 
-->
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Leonard Schütz">
    <meta name="description" content="Template blog article">
    <meta name="keywords" content="leonard schütz, programming, compilers">
    <meta name="language" content="English">
    <meta name="contact" content="leni.schuetz@me.com">
    <meta name="date" content="1. January 1990">

    <meta property="og:url" content="https://leonardschuetz.ch/">
    <meta property="og:title" content="Blog Template">
    <meta property="og:description" content="Template blog article">
    <meta property="og:site_name" content="Leonard Schütz">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@leni4838">
    <meta name="twitter:title" content="Blog Template">
    <meta name="twitter:description" content="Template blog article">

    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'/>
    <link rel="stylesheet" type="text/css" href="/style.css"/>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

      </head>
  <body>
    <div id="content">
      <header>
        <div id="name-container">
          <a href="/">leonard schütz</a>
        </div>
        <nav>
          <a href="/">home</a>
          <a href="/blog">blog</a>
        </nav>
      </header>
      <main class="blog-article">
<h1 id="blog-template">Blog Template</h1>
<h2 id="january-1990">1. January 1990</h2>
<figure>
<img src="test-image.jpg" alt="Picture of Jupiter" /><figcaption aria-hidden="true">Picture of Jupiter</figcaption>
</figure>
      </main>
      <hr/>
      <footer>
        <div id="social-links">
          <a href="https://github.com/KCreate">
            <img height="20" width="20" src="/resources/github.svg" />
          </a>
          <a href="https://twitter.com/leni4838">
            <img height="20" width="20" src="/resources/twitter.svg" />
          </a>
          <a href="https://linkedin.com/in/leonardschuetz">
            <img height="20" width="20" src="/resources/linkedin.svg" />
          </a>
        </div>
        <div id="open-source-notice">
          <span>this blog is <a href="https://github.com/KCreate/leonardschuetz.ch">open-source</a></span>
        </div>
      </footer>
    </div>
  </body>
  <script src="/script.js"></script>
</html>
