@use "constants";
@use "sass:color";

main.blog-article {
  font-size: 12pt;

  &#index-page {
    > * {
      margin: 0;
    }
  }

  $elementMargin: 16px;
  > * {
    margin: $elementMargin 0;
    word-break: break-word;

    &:first-child {
      margin-top: 0;
    }
  }

  > h1, h2, h3, h4, h5, h6 {
    border-left: 4px solid constants.$colorTheme2;
    padding: 2px 12px;
    font-weight: normal;
  }

  > h1 { font-size: 21pt; }
  > h2 { font-size: 16pt; }
  > h3 { font-size: 15pt; }
  > h4 { font-size: 15pt; }
  > h5 { font-size: 15pt; }
  > h6 { font-size: 15pt; }

  // Join adjacent descending headers together
  @for $i from 1 through 6 {
      @if $i < 6 {
          // Join descending headers together
          > h#{$i} + h#{$i+1} {
              margin-top: -$elementMargin;
          }
      }
  }

  hr {
    width: calc(100% - 8px);
    margin: $elementMargin auto;
    display: block;
    height: 4px;
    border: none;
    background-color: constants.$colorTheme1;
  }

  ul {
    padding-left: 2em;
    li {
      text-indent: -1em;
      &::before {
        content: "#";
      }
    }
  }

  ol {
    counter-reset: item;
    padding-left: 2.6em;
    li {
      text-indent: -1.7em;
      &:before {
        content: counter(item) ".";
        counter-increment: item;

      }
    }
  }

  ol, ul {
    list-style: none;

    li {
      margin-bottom: 5px;
      &::last-child {
        margin-bottom: 0px;
      }
      &::before {
        color: constants.$colorTheme1;
        padding-right: 7px;
        font-weight: 400;
        font-family: constants.$fontCode;
      }
    }
  }

  strong {
    font-weight: bold;
  }

  blockquote {
    background-color: light-dark(constants.$colorNoteBackgroundLight1, constants.$colorNoteBackgroundDark2);
    padding: 5px 8px;
    border-left: 4px solid light-dark(constants.$colorNoteBackgroundLight4, constants.$colorNoteBackgroundDark4);
    color: black;
    border-radius: 2px;
    box-shadow: constants.$shadow1;
    @media (prefers-color-scheme: dark) {
      box-shadow: none;
    }
  }

  figure img, p img, img {
    display: block;
    width: calc(75%);
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: constants.$shadow1;
    @media (prefers-color-scheme: dark) {
      box-shadow: none;
    }

    &[alt*="noshadow"] {
      box-shadow: none;
    }

    &[alt*="no-smooth"] {
      image-rendering: pixelated;
      -ms-interpolation-mode: nearest-neighbor;
    }

    &[alt*="circle"] {
      border-radius: 50%;
    }

    &[alt*="app-icon-ish"] {
      border-radius: 35%;
    }

    &[alt*="rounded"] {
      border-radius: 10px;
    }

    &[alt*="small"] {
      width: calc(50%);

      @include constants.mobile-small {
        width: 75%;
      }
    }

    @include constants.mobile-small {
      width: 100%;
    }
  }

  p:has(img):has(+ blockquote) {
    margin-bottom: 0px;
    padding-bottom: 0px;

    img {
      border-radius: 3px 3px 0 0;
    }
  }

  p:has(img) + blockquote {
    width: 75%;
    margin: 0 auto;
    border-radius: 0px 0px 2px 2px;

    background-color: light-dark(constants.$colorLight1, constants.$colorDark2);
    box-shadow: constants.$shadow1;
    @media (prefers-color-scheme: dark) {
      box-shadow: none;
    }
    padding: 4px 12px !important;
    border: none;
    color: light-dark(black, white);
    border-radius: 0 0 2px 2px;

    position: relative;
    z-index: 1000;

    @include constants.mobile-small {
      width: 100%;
    }

    code {
      background-color: light-dark(constants.$colorLight3, constants.$colorDark4);
      color: light-dark(black, white);
    }
  }

  figure, p {
    figcaption {
      display: none;
    }
  }

  pre {
    word-break: break-all;
  }


  // inline text, general
  code {
    margin: 0;
    padding: 3px 6px;
    background-color: light-dark(constants.$colorLight1, constants.$colorDark4);
    border-radius: 2px;
    font-size: 11pt;
    font-weight: 400;
    font-family: constants.$fontCode;
    word-wrap: break-word;
    white-space: collapse;
  }

  // inline text, as child of a link
  a > code {
    background-color: inherit;
    padding: 0;
  }

  a + code {
    margin-left: 6px;
  }

  // inline text, inside a blockquote
  blockquote p > code {
    background-color: light-dark(constants.$colorNoteBackgroundLight5, constants.$colorNoteBackgroundDark6);
    color: black;
  }

  // inline text, inside a link, inside a blockquote
  blockquote p > a > code {
    background-color: inherit;
    color: inherit;
  }

  // code block, no syntax highlighting
  pre:has(code) {
    background-color: constants.$colorLight1;
    padding: 10px;
    padding-right: 20px;
    border-radius: 3px;
    color: black;
    box-shadow: constants.$shadow1;
    @media (prefers-color-scheme: dark) {
      box-shadow: none;
    }

    max-height: 600px;

    border: 2px solid constants.$colorLight2;

    @media (prefers-color-scheme: dark) {
      filter: invert(1);
      border: 2px solid constants.$colorLight4;
    }

    > code {
      white-space: pre;
      background-color: inherit;
      padding: 0px;
      display: block;
      overflow: scroll;

      * {
        font-weight: 400;
        text-decoration: none;
        font-family: constants.$fontCode;
      }
    }
  }

  // code block, with syntax highlighting
  div.sourceCode {
    margin: inherit;
    background-color: inherit;
    overflow: inherit;
    margin: 20px 0;

    > pre.sourceCode:has(code.sourceCode) {
      overflow: scroll;
      > code.sourceCode {
        > span > a {
          display: none;
        }
      }
    }
  }

  table {
    width: 100%;
    background-color: constants.$colorLight1;
    box-shadow: constants.$shadow1;
    @media (prefers-color-scheme: dark) {
      box-shadow: none;
    }
    border-collapse: collapse;
    border-radius: 2px;
    overflow: hidden;

    tr {
        border: 2px solid constants.$colorLight2;
    }

    th, td {
        padding: 4px 6px;
    }

    th {
        height: 40px;
    }

    td {
        height: 36px;
        border: 2px solid constants.$colorLight2;
    }

    strong {
        padding: 0;
        color: constants.$colorBlue1;
    }

    thead {
        background-color: constants.$colorLight2;
        tr th {
            text-align: left;
        }
    }
  }
}
