@use "sass:color";
// Colors
$colorChangePercentage: 5%;
$colorLight1: color.adjust(#FAFAFA, $lightness: -$colorChangePercentage);
$colorLight2: color.adjust($colorLight1, $lightness: -$colorChangePercentage);
$colorLight3: color.adjust($colorLight2, $lightness: -$colorChangePercentage);
$colorLight4: color.adjust($colorLight3, $lightness: -$colorChangePercentage);

$colorDark1: color.adjust(#242030, $lightness: -$colorChangePercentage);
$colorDark2: color.adjust($colorDark1, $lightness: $colorChangePercentage);
$colorDark3: color.adjust($colorDark2, $lightness: $colorChangePercentage);
$colorDark4: color.adjust($colorDark3, $lightness: $colorChangePercentage);

$colorBackgroundLight: #FFFFFF;
$colorBackgroundDark: $colorDark1;

$colorNoteBackground1: #FFEB7D;
$colorNoteBackground2: color.adjust($colorNoteBackground1, $lightness: -$colorChangePercentage);
$colorNoteBackground3: color.adjust($colorNoteBackground2, $lightness: -$colorChangePercentage);
$colorNoteBackground4: color.adjust($colorNoteBackground3, $lightness: -$colorChangePercentage);

$colorBlue1:  #3F51B5;
$colorBlue2:  color.adjust($colorBlue1, $lightness: -$colorChangePercentage);
$colorBlue3:  color.adjust($colorBlue2, $lightness: -$colorChangePercentage);
$colorBlue4:  color.adjust($colorBlue3, $lightness: -$colorChangePercentage);

$colorRed1:  #F50057;
$colorRed2:  color.adjust($colorRed1, $lightness: -$colorChangePercentage);
$colorRed3:  color.adjust($colorRed2, $lightness: -$colorChangePercentage);
$colorRed4:  color.adjust($colorRed3, $lightness: -$colorChangePercentage);

$colorGreen1:  #00897B;
$colorGreen2:  color.adjust($colorGreen1, $lightness: -$colorChangePercentage);
$colorGreen3:  color.adjust($colorGreen2, $lightness: -$colorChangePercentage);
$colorGreen4:  color.adjust($colorGreen3, $lightness: -$colorChangePercentage);

$colorYellow1:  #FFBE0B;
$colorYellow2:  color.adjust($colorYellow1, $lightness: -$colorChangePercentage);
$colorYellow3:  color.adjust($colorYellow2, $lightness: -$colorChangePercentage);
$colorYellow4:  color.adjust($colorYellow3, $lightness: -$colorChangePercentage);

$colorTheme1: $colorGreen1;
$colorTheme2: color.adjust($colorTheme1, $lightness: -$colorChangePercentage);
$colorTheme3: color.adjust($colorTheme2, $lightness: -$colorChangePercentage);
$colorTheme4: color.adjust($colorTheme3, $lightness: -$colorChangePercentage);

// Shadows
$shadow1: 0 1px  3px  rgba(0,0,0,0.12), 0 1px  2px  rgba(0,0,0,0.24);
$shadow2: 0 3px  6px  rgba(0,0,0,0.16), 0 3px  6px  rgba(0,0,0,0.23);
$shadow3: 0 10px 20px rgba(0,0,0,0.19), 0 6px  6px  rgba(0,0,0,0.23);
$shadow4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

$fontRegular: "Noto Sans";
$fontMono: "Roboto Mono";
$fontCode: monospace;

// Media queries
@mixin mobile {
    @media (max-width: 700px) {
        @content;
    }
}

@mixin mobile-small {
    @media (max-width: 450px) {
        @content;
    }
}
