main.blog-article {
  font-size: 12pt;
}
main.blog-article#index-page > * {
  margin: 0;
}
main.blog-article > * {
  margin: 16px 0;
  word-break: break-word;
}
main.blog-article > *:first-child {
  margin-top: 0;
}
main.blog-article > h1, main.blog-article h2, main.blog-article h3, main.blog-article h4, main.blog-article h5, main.blog-article h6 {
  border-left: 4px solid rgb(0, 111.5, 100.1058394161);
  padding: 2px 12px;
  font-weight: normal;
}
main.blog-article > h1 {
  font-size: 21pt;
}
main.blog-article > h2 {
  font-size: 16pt;
}
main.blog-article > h3 {
  font-size: 15pt;
}
main.blog-article > h4 {
  font-size: 15pt;
}
main.blog-article > h5 {
  font-size: 15pt;
}
main.blog-article > h6 {
  font-size: 15pt;
}
main.blog-article > h1 + h2 {
  margin-top: -16px;
}
main.blog-article > h2 + h3 {
  margin-top: -16px;
}
main.blog-article > h3 + h4 {
  margin-top: -16px;
}
main.blog-article > h4 + h5 {
  margin-top: -16px;
}
main.blog-article > h5 + h6 {
  margin-top: -16px;
}
main.blog-article hr {
  width: calc(100% - 8px);
  margin: 16px auto;
  display: block;
  height: 4px;
  border: none;
  background-color: #00897B;
}
main.blog-article ol, main.blog-article ul {
  list-style: none;
  padding-left: 1em;
}
main.blog-article ol li, main.blog-article ul li {
  margin-bottom: 5px;
}
main.blog-article ol li::last-child, main.blog-article ul li::last-child {
  margin-bottom: 0px;
}
main.blog-article ol li::before, main.blog-article ul li::before {
  content: "#";
  color: #00897B;
  padding-right: 7px;
}
main.blog-article {
  /* Inline code blocks */
}
main.blog-article p code {
  background-color: light-dark(rgb(237.25, 237.25, 237.25), rgb(47.475, 42.2, 63.3));
  display: inline-block;
  padding: 0 4px;
  margin: 0;
  border-radius: 2px;
  font-size: 11pt;
  font-family: monospace;
}
main.blog-article strong {
  font-weight: bold;
  font-size: 11pt;
}
main.blog-article blockquote > p {
  background-color: #FFEB7D;
  padding: 10px 8px;
  border-left: 4px solid rgb(255, 223.2307692308, 48.5);
  color: black;
  border-radius: 2px;
}
main.blog-article blockquote > p > code {
  background-color: rgb(211.75, 211.75, 211.75);
}
main.blog-article figure img, main.blog-article p img, main.blog-article img {
  display: block;
  width: 75%;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
main.blog-article figure img[alt*=noshadow], main.blog-article p img[alt*=noshadow], main.blog-article img[alt*=noshadow] {
  box-shadow: none;
}
main.blog-article figure img[alt*=no-smooth], main.blog-article p img[alt*=no-smooth], main.blog-article img[alt*=no-smooth] {
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
main.blog-article figure img[alt*=circle], main.blog-article p img[alt*=circle], main.blog-article img[alt*=circle] {
  border-radius: 50%;
}
main.blog-article figure img[alt*=app-icon-ish], main.blog-article p img[alt*=app-icon-ish], main.blog-article img[alt*=app-icon-ish] {
  border-radius: 35%;
}
main.blog-article figure img[alt*=rounded], main.blog-article p img[alt*=rounded], main.blog-article img[alt*=rounded] {
  border-radius: 10px;
}
main.blog-article figure img[alt*=small], main.blog-article p img[alt*=small], main.blog-article img[alt*=small] {
  width: 50%;
}
@media (max-width: 450px) {
  main.blog-article figure img[alt*=small], main.blog-article p img[alt*=small], main.blog-article img[alt*=small] {
    width: 75%;
  }
}
@media (max-width: 450px) {
  main.blog-article figure img, main.blog-article p img, main.blog-article img {
    width: 100%;
  }
}
main.blog-article figure figcaption, main.blog-article p figcaption {
  display: none;
}
main.blog-article pre {
  word-break: break-all;
}
main.blog-article div.sourceCode {
  background-color: inherit;
}
main.blog-article pre > code {
  padding: 10px 10px;
  overflow-x: scroll;
  max-height: 600px;
  border-radius: 3px;
  font-size: 10pt;
  font-family: monospace;
  line-height: 1.45;
  display: block;
  background-color: rgb(237.25, 237.25, 237.25);
  color: black;
}
@media (prefers-color-scheme: dark) {
  main.blog-article pre > code {
    filter: invert(1);
  }
}
main.blog-article pre > code > span {
  float: left;
}
main.blog-article pre > code * {
  font-weight: 400;
  text-decoration: none;
  font-family: monospace;
}
main.blog-article table {
  width: 100%;
  background-color: rgb(237.25, 237.25, 237.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-collapse: collapse;
  border-radius: 2px;
  overflow: hidden;
}
main.blog-article table tr {
  border: 2px solid rgb(224.5, 224.5, 224.5);
}
main.blog-article table th, main.blog-article table td {
  padding: 4px 6px;
}
main.blog-article table th {
  height: 40px;
}
main.blog-article table td {
  height: 36px;
  border: 2px solid rgb(224.5, 224.5, 224.5);
}
main.blog-article table strong {
  padding: 0;
  color: #3F51B5;
}
main.blog-article table thead {
  background-color: rgb(224.5, 224.5, 224.5);
}
main.blog-article table thead tr th {
  text-align: left;
}
main.blog-article .emgithub-wrapper > iframe {
  border-radius: 6px;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

:root {
  color-scheme: light dark;
}

body {
  background-color: light-dark(#FFFFFF, rgb(24.525, 21.8, 32.7));
}

#content {
  max-width: 650px;
  margin: 20px auto 40px auto;
  padding: 0 20px;
  font-family: "Noto Sans";
}
#content hr {
  border: 0;
  border-top: 3px dotted #00897B;
  margin: 1em 0;
}

a {
  color: inherit;
  border-bottom: 1px solid #00897B;
  box-shadow: inset 0px -2px 0px #00897B;
  text-decoration: none;
}
@media (min-width: 701px) {
  a {
    transition: color 100ms linear, box-shadow 100ms ease-out;
  }
}
a:hover {
  color: white;
  box-shadow: inset 0px -30px 0px #00897B;
}

header {
  height: 40px;
  font-family: "Roboto Mono";
  font-size: 16pt;
}
header #name-container {
  display: inline-block;
}
header a {
  line-height: 40px;
  vertical-align: middle;
  height: 100%;
  padding: 0 4px;
  color: light-dark(black, white);
}
header nav {
  float: right;
}
@media (max-width: 450px) {
  header {
    height: 70px;
    font-size: 14pt;
  }
  header #name-container {
    width: 100%;
    text-align: center;
  }
  header #name-container a {
    display: inline-block;
  }
  header nav {
    width: 100%;
    text-align: center;
  }
  header nav a {
    display: inline-block;
  }
}

main {
  font-family: "Noto Sans";
  margin: 15px 0;
  padding: 15px 5px;
  min-height: 400px;
}
@media (max-width: 450px) {
  main {
    min-height: 0;
  }
}
main p {
  padding: 5px 0;
  line-height: 1.5em;
}

footer {
  height: 30px;
  font-family: "Roboto Mono";
  font-size: 0pt;
  margin-bottom: 20px;
}
footer #social-links {
  display: inline-block;
  height: 30px;
}
footer #social-links a {
  display: inline-block;
  margin: 0 5px;
  padding: 8px 6px 6px 6px;
  border-radius: 4px 4px 0px 0px;
}
@media (prefers-color-scheme: dark) {
  footer #social-links a img {
    filter: invert(1);
  }
}
footer #open-source-notice {
  display: inline-block;
  height: 30px;
  float: right;
  font-size: 12pt;
  padding-top: 8px;
}
@media (max-width: 700px) {
  footer {
    height: 60px;
  }
  footer #social-links {
    display: block;
    width: 100%;
    text-align: center;
  }
  footer #open-source-notice {
    margin-top: 5px;
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 450px) {
  #article-listing {
    font-size: 14px;
  }
}
#article-listing li .submission-date {
  background-color: rgb(237.25, 237.25, 237.25);
  padding: 1px 6px;
  border-radius: 3px;
  float: right;
  font-style: italic;
  color: black;
}
@media (max-width: 450px) {
  #article-listing li .submission-date {
    display: none;
  }
}

.list-entry {
  padding-bottom: 16px;
}
.list-entry .what {
  display: block;
  font-weight: bold;
}
.list-entry .what-detail {
  display: block;
}
.list-entry .where {
  display: block;
}
.list-entry .when {
  display: block;
  float: right;
  background-color: rgb(237.25, 237.25, 237.25);
  color: black;
  border-radius: 3px;
  padding: 1px 6px;
}

#copyright {
  display: block;
  width: 100%;
  text-align: center;
  color: rgb(211.75, 211.75, 211.75);
  margin-bottom: 10px;
}
@media (max-width: 450px) {
  #copyright {
    font-size: 14px;
  }
}

.project-container {
  margin: 0 !important;
  padding-bottom: 10px;
  height: auto;
  overflow: overlay;
}
.project-container .project-card {
  border-bottom: none;
  text-decoration: none;
  color: white;
  background: linear-gradient(25deg, rgb(0, 111.5, 100.1058394161) 0%, #00897B 100%);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 5px !important;
  padding: 10px 12px 35px 12px;
  width: calc(50% - 10px);
  min-height: 200px;
  display: inline-block;
  float: left;
  position: relative;
  transition: transform 200ms ease-out, box-shadow 200ms ease-out;
}
.project-container .project-card:hover::after {
  opacity: 1;
}
.project-container .project-card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: rotate(-0.3deg) scale(1.01);
}
.project-container .project-card:hover:nth-child(2n) {
  transform: rotate(0.3deg) scale(1.01);
}
@media (max-width: 700px) {
  .project-container .project-card {
    width: calc(100% - 10px);
    min-height: 0;
    margin: 8px 5px !important;
  }
}
.project-container .project-card .title {
  font-family: "Roboto Mono";
  font-size: 14pt;
  font-weight: bold;
}
.project-container .project-card .languages {
  font-family: "Roboto Mono";
  font-weight: bold;
  float: right;
  margin-left: 10px;
}
.project-container .project-card .description {
  margin-top: 15px;
}
.project-container .project-card .repo {
  position: absolute;
  bottom: 10px;
  left: 12px;
  font-family: "Roboto Mono";
  font-style: italic;
  font-size: 10pt;
  color: rgba(255, 255, 255, 0.8);
}

/*# sourceMappingURL=style.css.map */
