main.blog-article {
  /* Inline code blocks */
}
main.blog-article#index-page > * {
  margin: 0;
}
main.blog-article > * {
  margin: 16px 0;
  font-size: 16px;
  word-break: break-word;
}
main.blog-article > *:first-child {
  margin-top: 0;
}
main.blog-article > h1, main.blog-article h2, main.blog-article h3, main.blog-article h4, main.blog-article h5, main.blog-article h6 {
  border-left: 4px solid #f1b000;
  padding: 4px 8px;
  font-weight: normal;
}
main.blog-article > h1 {
  font-size: 28px;
}
main.blog-article > h2 {
  font-size: 22.4px;
}
main.blog-article > h3 {
  font-size: 20px;
}
main.blog-article > h4 {
  font-size: 20px;
}
main.blog-article > h5 {
  font-size: 20px;
}
main.blog-article > h6 {
  font-size: 20px;
}
main.blog-article > h1 + h2 {
  margin-top: -16px;
}
main.blog-article > h2 + h3 {
  margin-top: -16px;
}
main.blog-article > h3 + h4 {
  margin-top: -16px;
}
main.blog-article > h4 + h5 {
  margin-top: -16px;
}
main.blog-article > h5 + h6 {
  margin-top: -16px;
}
main.blog-article hr {
  width: calc(100% - 8px);
  margin: 16px auto;
  display: block;
  height: 4px;
  border: none;
  background-color: #FFBE0B;
}
main.blog-article ol, main.blog-article ul {
  list-style: none;
  padding-left: 1em;
}
main.blog-article ol li, main.blog-article ul li {
  margin-bottom: 5px;
}
main.blog-article ol li::last-child, main.blog-article ul li::last-child {
  margin-bottom: 0px;
}
main.blog-article ol li::before, main.blog-article ul li::before {
  content: "#";
  color: #FFBE0B;
  padding-right: 7px;
}
main.blog-article p code {
  background-color: #ededed;
  display: inline-block;
  padding: 0 4px;
  margin: 0;
  border-radius: 2px;
  font-size: 90%;
  font-family: monospace;
}
main.blog-article strong {
  font-weight: bold;
  font-size: 95%;
}
main.blog-article blockquote > p {
  background-color: #ededed;
  padding: 10px 8px;
  border-left: 4px solid #d4d4d4;
}
main.blog-article blockquote > p > code {
  background-color: #d4d4d4;
}
main.blog-article figure img, main.blog-article p img {
  display: block;
  width: calc(75%);
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
main.blog-article figure img[alt*=noshadow], main.blog-article p img[alt*=noshadow] {
  box-shadow: none;
}
main.blog-article figure img[alt*=no-smooth], main.blog-article p img[alt*=no-smooth] {
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
@media (max-width: 450px) {
  main.blog-article figure img, main.blog-article p img {
    width: 100%;
  }
}
main.blog-article figure figcaption, main.blog-article p figcaption {
  display: none;
}
main.blog-article pre {
  word-break: break-all;
}
main.blog-article div.sourceCode {
  background-color: white;
}
main.blog-article pre > code, main.blog-article code.sourceCode > pre > code {
  padding: 10px 10px;
  overflow-x: auto;
  border-radius: 3px;
  font-size: 80%;
  font-family: monospace;
  line-height: 1.45;
  display: block;
  background-color: #ededed;
}
main.blog-article pre > code > span, main.blog-article code.sourceCode > pre > code > span {
  float: left;
}
main.blog-article pre > code *, main.blog-article code.sourceCode > pre > code * {
  font-weight: 400;
  text-decoration: none;
  font-family: monospace;
}
main.blog-article table {
  width: 100%;
  background-color: #ededed;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-collapse: collapse;
  border-radius: 2px;
  overflow: hidden;
}
main.blog-article table tr {
  border: 2px solid #e1e1e1;
}
main.blog-article table th, main.blog-article table td {
  padding: 4px 6px;
}
main.blog-article table th {
  height: 40px;
}
main.blog-article table td {
  height: 36px;
  border: 2px solid #e1e1e1;
}
main.blog-article table strong {
  padding: 0;
  color: #3F51B5;
}
main.blog-article table thead {
  background-color: #e1e1e1;
}
main.blog-article table thead tr th {
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  max-width: 650px;
  margin: 20px auto 40px auto;
  padding: 0 20px;
  font-family: "Noto Sans";
}
#content hr {
  border: 0;
  border-top: 3px dotted #FFBE0B;
  margin: 1em 0;
}

a {
  color: inherit;
  border-bottom: 3px solid #FFBE0B;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: #FFBE0B;
}

header {
  height: 40px;
  font-family: "Roboto Mono";
  font-size: 16pt;
}
header #name-container {
  display: inline-block;
}
header a {
  line-height: 40px;
  vertical-align: middle;
  height: 100%;
  padding: 0 4px;
  color: black;
}
header nav {
  float: right;
}
@media (max-width: 450px) {
  header {
    height: 70px;
    font-size: 14pt;
  }
  header #name-container {
    width: 100%;
    text-align: center;
  }
  header #name-container a {
    display: inline-block;
  }
  header nav {
    width: 100%;
    text-align: center;
  }
  header nav a {
    display: inline-block;
  }
}

main {
  font-family: "Noto Sans";
  margin: 15px 0;
  padding: 15px 5px;
  min-height: 600px;
}
@media (max-width: 450px) {
  main {
    min-height: 0;
  }
}
main p {
  padding: 5px 0;
  line-height: 1.5em;
}

footer {
  height: 30px;
  font-family: "Roboto Mono";
  font-size: 0pt;
  margin-bottom: 20px;
}
footer #social-links {
  display: inline-block;
  height: 30px;
}
footer #social-links a {
  display: inline-block;
  margin: 0 5px;
  padding-bottom: 3px;
}
footer #open-source-notice {
  display: inline-block;
  height: 30px;
  float: right;
  font-size: 12pt;
}
@media (max-width: 450px) {
  footer {
    height: 60px;
  }
  footer #social-links {
    display: block;
    width: 100%;
    text-align: center;
  }
  footer #open-source-notice {
    margin-top: 5px;
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 450px) {
  #article-listing {
    font-size: 14px;
  }
}
#article-listing li .submission-date {
  background-color: #ededed;
  padding: 0 6px;
  border-radius: 2px;
  float: right;
  font-style: italic;
}

#copyright {
  display: block;
  width: 100%;
  text-align: center;
  color: #d4d4d4;
}
@media (max-width: 450px) {
  #copyright {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
