@use 'constants.scss';
@use 'blog-article.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

:root {
  color-scheme: light dark;
}

body {
  background-color: light-dark(constants.$colorBackgroundLight, constants.$colorBackgroundDark);
}

#content {
  max-width: 650px;
  margin: 20px auto 40px auto;
  padding: 0 20px;
  font-family: constants.$fontRegular;

  hr {
    border: 0;
    border-top: 3px dotted constants.$colorTheme1;
    margin: 1em 0;
  }
}

a {
  color: inherit;
  border-bottom: 1px solid constants.$colorTheme1;
  box-shadow: inset 0px -2px 0px constants.$colorTheme1;
  text-decoration: none;

  transition: color 100ms linear, box-shadow 100ms ease-out;

  &:hover {
    color: white;
    box-shadow: inset 0px -30px 0px constants.$colorTheme1;
  }
}

header {
  height: 40px;
  font-family: constants.$fontMono;
  font-size: 16pt;

  #name-container {
    display: inline-block;
  }

  a {
    line-height: 40px;
    vertical-align: middle;
    height: 100%;
    padding: 0 4px;
    color: light-dark(black, white);
  }

  nav {
    float: right;
  }

  @include constants.mobile-small {
    height: 70px;
    font-size: 14pt;

    #name-container {
      width: 100%;
      text-align: center;

      a {
        display: inline-block;
      }
    }

    nav {
      width: 100%;
      text-align: center;

      a {
        display: inline-block;
      }
    }
  }
}

main {
  font-family: constants.$fontRegular;
  margin: 15px 0;
  padding: 15px 5px;

  min-height: 400px;

  @include constants.mobile-small {
    min-height: 0;
  }

  p {
    padding: 5px 0;
    line-height: 1.5em;
  }
}

$heightFooter: 30px;
footer {
  height: $heightFooter;
  font-family: constants.$fontMono;
  font-size: 0pt;
  margin-bottom: 20px;

  #social-links {
    display: inline-block;
    height: $heightFooter;

    a {
      display: inline-block;
      margin: 0 5px;
      padding: 8px 6px 6px 6px;
      border-radius: 4px 4px 0px 0px;

      @media (prefers-color-scheme: dark) {
        img {
          filter: invert(1);
        }
      }
    }
  }

  #open-source-notice {
    display: inline-block;
    height: $heightFooter;
    float: right;
    font-size: 12pt;
    padding-top: 8px;
  }

  @include constants.mobile {
    height: 60px;

    #social-links {
      display: block;
      width: 100%;
      text-align: center;
    }

    #open-source-notice {
      margin-top: 5px;
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}

#article-listing {
  @include constants.mobile-small {
    font-size: 14px;
  }

  li {
    .submission-date {
      background-color: constants.$colorLight1;
      padding: 1px 6px;
      border-radius: 3px;
      float: right;
      font-style: italic;
      color: black;

      @include constants.mobile-small {
        display: none;
      }
    }
  }
}

.list-entry {
  padding-bottom: 16px;

  .what {
    display: block;
    font-weight: bold;
  }

  .what-detail {
    display: block;
  }

  .where {
    display: block;
  }

  .when {
    display: block;
    float: right;

    background-color: constants.$colorLight1;
    color: black;
    border-radius: 3px;
    padding: 1px 6px;
  }
}

#copyright {
  display: block;
  width: 100%;
  text-align: center;
  color: constants.$colorLight3;
  margin-bottom: 10px;

  @include constants.mobile-small {
    font-size: 14px;
  }
}

.project-container {
  margin: 0 !important;
  padding-bottom: 10px;
  height: auto;
  overflow: overlay;

  .project-card {
    border-bottom: none;
    text-decoration: none;

    color: white;
    background: linear-gradient(25deg, constants.$colorTheme2 0%, constants.$colorTheme1 100%);

    border-radius: 10px;
    box-shadow: constants.$shadow1;

    margin: 5px !important;
    padding: 10px 12px 35px 12px;
    width: calc(50% - 10px);
    min-height: 200px;
    display: inline-block;
    float: left;
    position: relative;

    transition: transform 200ms ease-out, box-shadow 200ms ease-out;
    &:hover {
      &::after {
        opacity: 1;
      }

      box-shadow: constants.$shadow2;
      transform: rotate(-0.3deg) scale(1.01);

      &:nth-child(2n) {
        transform: rotate(0.3deg) scale(1.01);
      }
    }

    @include constants.mobile {
      width: calc(100% - 10px);
      min-height: 0;
      margin: 8px 5px !important;
    }

    .title {
      font-family: constants.$fontMono;
      font-size: 14pt;
      //font-style: italic;
      font-weight: bold;
    }

    .languages {
      font-family: constants.$fontMono;
      font-weight: bold;
      float: right;
      margin-left: 10px;
    }

    .description {
      margin-top: 15px;
    }

    .repo {
      position: absolute;
      bottom: 10px;
      left: 12px;

      font-family: constants.$fontMono;
      font-style: italic;
      font-size: 10pt;
      color: rgba(white, 80%);
    }
  }
}
