* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: #FDE3A7;
}

#app {
  width: calc(70px * 12 + 12px);
  height: calc(70px * 8 + 12px);
  padding: 6px;

  margin: 100px auto 0 auto;

  box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.5);
  border-radius: 4px;

  background-color: #3A539B;
}

#app.primary_color {
  background-color: #E01931;
}

#app.secondary_color {
  background-color: #22313F;
}

#inputfield_container {
  display: block;
  margin: 0 auto;
  width: 280px;
  margin-top: calc(560px / 2 - 70px)
}

.loginscreen_inputs {
  display: block;
  width: 100%;
  height: 35px;
  border: 4px solid #ECF0F1;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin: 10px 0;
  text-align: center;
}

#gamefield {
  border: inset 1px solid #BDC3C7;
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.row {
  display: block;
  width: 100%;
  height: calc(100% / 8);
}

.column {
  width: calc(100% / 12);
  height: 100%;
  float: left;
  border: 1px solid #BDC3C7;
  background-color: white;
  position: relative;
}

.column.lastPlacedColumn {
  background-color: #ffeeee;
}

.tile {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  border-radius: 50%;
}

.tile.empty_tile {
  background-color: rgba(0, 0, 0, 0);
}

.tile.primary_tile {
  background-color: #E01931;
}

.tile.secondary_tile {
  background-color: #22313F;
}

