@import "../../style/global.scss";

.Content {
    width: 100%;
    transform: translateY(-70px);
    opacity: 1;
    transition: transform $durExtraLong $easing 150ms,
                opacity $durExtraLong $easing;

    &.expanded {
        transform: translateY(200px);
        opacity: 0;
    }

    > div {
        margin: 0 auto;
        width: 550px;
        max-width: calc(100% - 30px);

        transition: max-width $durMedium $easing,
                    width $durMedium $easing;

        @include mobile {
            max-width: calc(100%);
            width: 100%;
        };
    }
}
